/* ================= */
/* = Template File = */
/* = Main CSS File = */
/* ================= */

$pageborder: 0px;

// html:before,html:after,body:before,body:after{
//     content:"";
//     background: $pinkred;
//     position:fixed;
//     display:block;
//     z-index:5;
// }

// html:before{
//     height: $pageborder;
//     left:0;
//     right:0;
//     top:0;
// }
// html:after{
//     width: $pageborder;
//     top:0;
//     right:0;
//     bottom:0;
// }
// body:before{
//     height: $pageborder;
//     right:0;
//     bottom:0;
//     left:0;
// }
// body:after{
//     width: $pageborder;
//     top:0;
//     bottom:0;
//     left:0;
// }

body {
    @include text();
    color: $textclr;
}

hr {
    border-top-color: $pinkred;
}

.post {
    @include text(1.8,35,1.4);
    time {
        @include text(1.4,36,1);
        display: block;
    }
    time + h1 {
        margin-top: baseline(.3);
        color: $textclr;
        font-weight: bold;
        @include text(4.0,45,1);
        a {
            color: $pinkred;
            text-decoration: none;
        }
    }
}