<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="page">
            <div class="container">
                <header role="banner">
                    <h1>
                        <a href="/" title="Home">{{ site.title }}</a>
                        <small>{{ site.tagline }}</small>
                    </h1>
                </header>
                {{ content }}
            </div>

            <footer role="contentinfo">
                <div class="container">
                    <small>
                      &copy; {{ site.time | date: '%Y' }}. {{ site.title}}. All rights reserved.
                    </small>
                </div>
            </footer>
        </div>
    </body>
</html>
